.flex-row {
    flex-direction: row !important;
}

.settings-divider {
    margin: 2rem 0px;
}

.settings-category-subtitle {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.ui_setting_bc_button {
    --buttonHeight: 3.2rem;
}
